<!DOCTYPE html>

<html data-ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body data-ng-controller="myController">

    <h1>Hello {{ myInput }}</h1>
    <input ng-model="myInput" />


    <ul>
        <li ng-repeat="item in items">{{item}}</li>
    </ul>

    <div>{{50.25|currency:'￥' }}</div>

    <div>{{ "Let's shout" | uppercase }}</div>
    <!-- 输出: LET’S SHOUT -->
    {{ timestamp | date:"d MMM yyyy" }}
    <!-- 输出: 21 Aug 2014 -->

</body>


<script src="an.js"></script>
</html>
